*{
  margin: 0;
  padding: 0;
}
#myNavBar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  z-index: 99;
}
#myNavData{
  margin: auto;
}
#myNavData > ul{
  color: white;
  display: flex;
}

#myNavData > ul > li{
  margin: 12px 16px;
  list-style: none;
  font-size: 0.9rem;
}
#myNavData > ul > li:hover{
  cursor: pointer;
}

#headerDiv{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  color: white;

}
#headerDiv > div{
  text-align: center;
}
#headerDiv > div > h1{
  margin: 16px auto;
}
#aboutUsDiv{
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  background-color: gray
}
#rightAbout{
  background-color: rgba(255, 255, 255, 0.489);
  border-radius: 20px;
  
}
#aboutUsDiv > div{
  margin: auto;
  width: 50%;
  padding: 30px;
  
}
#aboutUsDiv > div > img{
  width: 100%;
  transform: scaleX(-1);
}
#aboutUsDiv > div > h2{
  margin: 20px auto;
  text-align: center;
}
#aboutUsDiv > div > p{
  margin: 10px auto;
  
}
#myFormDiv{
  width: 100%;
  height: 100vh;
}
.myLoginForm{
  display: flex;
}
#myFormDiv > form{
  margin: auto;
  box-shadow: 2px 2px 7px gray;
  padding: 14px;
  text-align: center;
}
#myFormDiv > form > input{
  width: 80%;
  height: 36px;
  margin: 7px auto;
  box-sizing: border-box;
  text-align: center;
}
.mySignupForm{
  display: none;
}
#altBtn{
  text-decoration: underline;
  color: blue;
}
#altBtn:hover{
  cursor: pointer;
}
#myLoginPage{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
}
#myLoginPage > div{
  margin: auto;
}
#myLoginPage > div > form{
  background-color: white;
}

#outProductDiv{
  padding-top: 41px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}
#productsTitle{
  text-align: center;
}

#outProductDiv > div{
  margin: auto;
  display: flex;
  
  
}
#outProductDiv > div > div{
  margin: 10px 20px;
  max-width: 450px;
  box-shadow:2px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 30px 10px;
  border-radius: 20px;
  
}
#outProductDiv > div > div:hover {
  box-shadow: 2px 2px 7px; 
}
#imageHolderforProduct{
  aspect-ratio: 4/3;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#outProductDiv > div > div > div > img{
  width: 100%;
  height: auto;
}
#product{
  position: relative;
  background-color: lightgray
}
#myRatingHome{
  position: relative;
  right: 0;
  top: 0;
}
.disableHover{
  pointer-events: none;
}




#productInfoDiv {
  width: 90%;
  max-width: 800px;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; 
  overflow: auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 17px gray;
  z-index: 999; 
}


#innerProductInfo {
  margin: auto;
}


#infoDivProduct {
  display: flex;
  flex-direction: column;
}

#addToCartBtn {
  width: 100px;
  margin: auto;
  height: 35px;
  background-color: rgb(255, 166, 0);
  border: 0;
  color: white;
}

#addToCartBtn:hover {
  background-color: rgb(191, 135, 30);
  cursor: pointer;
}

#innerProductInfo > div > h2 {
  font-size: 2rem;
}

#innerProductInfo > div > h2,
#innerProductInfo > div > h3,
#innerProductInfo > div > p,
#productRevieInfoRating {
  text-align: center;
  margin: 14px auto;
}

#closeInfoBtn {
  position: fixed;
  right: calc(50% - 420px); 
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);;
  
}



