*{
  margin: 0;
  padding: 0;
}
#myNavBar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  z-index: 99;
}
#myNavData{
  margin: auto;
}
#myNavData > ul{
  color: white;
  display: flex;
}

#myNavData > ul > li{
  margin: 12px 16px;
  list-style: none;
  font-size: 0.9rem;
  transition: transform 0.2s ease;
}
#myNavData > ul > li:hover{
  cursor: pointer;
  transform: translateY(3px);
}

#headerDiv{
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  color: white;

}
#headerDiv > div{
  text-align: center;
}
#headerDiv > div > h1, #headerDiv > div > p{
  margin: 16px auto;
  text-shadow: 2px 2px 25px;
  
}
#aboutUsDiv{
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  background-color: gray
}
#rightAbout{
  background-color: rgba(255, 255, 255, 0.489);
  border-radius: 20px;
  
}
#aboutUsDiv > div{
  margin: auto;
  width: 50%;
  padding: 30px;
  
}
#aboutUsDiv > div > img{
  width: 100%;
  transform: scaleX(-1);
}
#aboutUsDiv > div > h2{
  margin: 20px auto;
  text-align: center;
}
#aboutUsDiv > div > p{
  margin: 10px auto;
  
}
#myFormDiv{
  width: 100%;
  height: 100vh;
  z-index: 999999;
}
.myLoginForm{
  display: flex;
}
#myFormDiv > form{
  margin: auto;
  box-shadow: 2px 2px 7px gray;
  padding: 14px;
  text-align: center;
  z-index: 999999;
}
#myFormDiv > form > input{
  width: 80%;
  height: 36px;
  margin: 7px auto;
  box-sizing: border-box;
  text-align: center;
}
.mySignupForm{
  display: none;
}
#altBtn{
  text-decoration: underline;
  color: blue;
}
#altBtn:hover{
  cursor: pointer;
}
#myLoginPage{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  z-index: 9999999;
}
#myLoginPage > div{
  margin: auto;
}
#myLoginPage > div > form{
  background-color: white;
}

#outProductDiv{
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(116, 129, 94);
}

#productsTitle{
  text-align: center;
}

#outProductDiv > div{
  margin: auto;
  display: flex;
  
  
}
#outProductDiv > div > div{
  margin: 10px 20px;
  max-width: 450px;
  box-shadow:2px 2px 7px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  
}
#outProductDiv > div > div:hover {
  box-shadow: 4px 4px 8px; 
  cursor: pointer;
}
#imageHolderforProduct{
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
#outProductDiv > div > div > div > img{
  width: 100%;
  height: auto;
  border-radius: 10px;

}
#product{
  position: relative;
  background-color: lightgray;
}
#myRatingHome{
  position: relative;
  padding: 10px;
  
}
.disableHover{
  pointer-events: none;
}




#productInfoDiv {
  display: none;
  width: 90%;
  max-width: 800px;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; 
  overflow: auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 17px gray;
  z-index: 9;
}


#innerProductInfo {
  margin: auto;
}


#infoDivProduct {
  display: flex;
  flex-direction: column;
}

#addToCartBtn {
  width: 100px;
  margin: auto;
  height: 35px;
  background-color: rgb(255, 166, 0);
  border: 0;
  color: white;
  border-radius: 40px;
}

#addToCartBtn:hover {
  box-shadow: 5px 5px 7px gray;
  cursor: pointer;
}

#innerProductInfo > div > h2 {
  font-size: 2rem;
}

#innerProductInfo > div > h2,
#innerProductInfo > div > h3,
#innerProductInfo > div > p,
#productRevieInfoRating {
  text-align: center;
  margin: 14px auto;
}

#closeInfoBtn {
  position: fixed;
  right: calc(50% - 420px); 
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);;
  cursor: pointer;
}
#closeInfoBtn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  background-color: gray;
}

#productReviews {
  padding: 20px 0; /* Increased padding */
  margin: 50px auto;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

#productReviews > h3 {
  text-align: center;
  margin: 30px auto; /* Increased margin */
}

#productReviews > div {
  width: 90%;
  margin: auto;
  padding: 20px 0; /* Adjusted padding */
  border-bottom: 1px solid rgba(128, 128, 128, 0.2); /* Added border at the bottom of each review */
}

#addReviews {
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 20px; /* Added padding */
}

#addReviews > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addReviews > form > textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

#addReviews > form > input[type="submit"] {
  width: 150px;
  height: 30px;
  background-color: gray;
  border: 0;
  color: white;
  cursor: pointer;
}

#addReviews > form > input:hover {
  background-color: black;
}

#myCartDiv{
  position: fixed;
  overflow: auto;
  right: 0;
  top: 40px;
  width: 300px;
  height: calc(100vh - 40px);
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
#innerCartDiv{
  width: calc(100% - 14px);
  margin: auto;
}
#cartSubtotal{
  margin: 14px auto;
  width: 100%;
  display: flex;
}
#cartSubtotal > button{
  font-size: large; 
  height: 35px;
  padding: 0 14px;
  border-radius: 30px;
  margin: auto;
  border: 0;  
  background-color: rgb(255, 166, 0);
}
#cartSubtotal > button:hover{
  border: 1px solid black;
  cursor: pointer;
}
#cartData{
  width: 80%;
  margin: 14px auto;
  background-color: white;
  padding: 7px;
  border-radius: 3px;
  position: relative;
}
#cartData > img{
  width: 100%;
}
#removefromCart{
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: black;
  border: 0;
  color: white;
}
#removefromCart:hover{
  cursor:pointer;
}
#closeCartBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 166, 0);
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

#closeCartBtn:hover {
  background-color: gray;
}




